<template lang="pug">
  div.sigma.leaderboards
    div.ui.container
      div.sigma.header.centered
        h1 Leaderboards
        p.subtitle The top users in competitive point collecting.
      div.sigma.leaderboards.ui.segment.inverted
        div.ui.two.column.stackable.grid
          div(
            v-on:click="refreshLeaderboard('currency')"
            :class="'sigma leaderboards switcher seven wide column centered' + (category === 'currency' ? ' active' : ' inactive')"
          ) #[i.money.bill.alternate.outline.icon] Currency
          div(
            v-on:click="refreshLeaderboard('cookies')"
            :class="'sigma leaderboards switcher seven wide column centered' + (category === 'cookies' ? ' active' : ' inactive')"
          ) #[i.moon.icon] Cookies
        div.ui.sigma.leaderboards.table.headers.three.column.stackable.grid.segment.inverted
          div.sigma.leaderboards.table.header.one.wide.column.index №
          div.sigma.leaderboards.table.header.six.wide.column.user User
          div.sigma.leaderboards.table.header.four.wide.column.title {{ category | title }}
        div.sigma.leaderboards.ui.segment.inverted(v-if="loading")
          div.ui.segment.inverted
            div.ui.active.inline.text.loader.inverted.centered.sigma-stats-loader(v-if="loading") Loading...
        div.ui.inverted.segment(v-else-if="errored")
          i.warning.icon
          | Failed to retrieve the {{ category }} leaderboards...
        div.sigma.leaderboards.ui.segment.inverted(v-else)
          sigma-leaderboard-item(
            v-for="lbi in items"
            :index="lbi.index"
            :icon="lbi.icon"
            :key="lbi.index"
            :name="lbi.user.name"
            :avatar="lbi.user.avatarUrl"
            :value="lbi.value"
            :level="lbi.level"
            :nextRequired="lbi.nextRequired"
            :nextPercentage="lbi.nextPercent"
            :tier="lbi.level"
            :title="lbi.title"
          )
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SigmaLeaderboardItem from '@/comps/LeaderboardItem.vue'
import LuciaGQLCore from '@/data/gql'

interface LeaderboardGQLUser {
  name: string,
  avatarUrl: string
}

interface LeaderboardGQLItem {
  score: number,
  user: LeaderboardGQLUser
}

interface LeaderboardGQLResponse {
  sigma: {
    entries: LeaderboardGQLItem[]
  }
}

interface LeaderboardWrapper {
  index: number,
  icon: string,
  user: LeaderboardGQLUser,
  value: number,
  level: number,
  title: string,
  nextRequired: number,
  nextPercent: number
}

const gql = new LuciaGQLCore()
const leaderboardIcons: string[] = [ 'trophy', 'gem', 'heart' ]

const levelers = {
  cookies: 5.15,
  currency: 7537.0
} as any

const prefixes = {
  cookies: [
    'Starving', 'Picky', 'Nibbling', 'Munching', 'Noming',
    'Glomping', 'Chomping', 'Inhaling', 'Gobbling', 'Devouring'
  ],
  currency: [
    'Regular', 'Iron', 'Bronze', 'Silver', 'Gold',
    'Platinum', 'Diamond', 'Opal', 'Sapphire', 'Musgravite'
  ]
} as any

const suffixes = {
  cookies: [
    'Licker', 'Taster', 'Eater Chef', 'Connoisseur',
    'Gorger', 'Epicure', 'Glutton', 'Devourer', 'Void'
  ],
  currency: [
    'Pickpocket', 'Worker', 'Professional', 'Collector', 'Capitalist',
    'Entrepreneur', 'Executive', 'Banker', 'Royal', 'Illuminati'
  ]
} as any

function getTitle (level: number, variant: string): string {
  const pfxs: string[] = prefixes[variant]
  const sfxs: string[] = suffixes[variant]
  const pfx: string = pfxs[Math.floor((level % 100) / pfxs.length)]
  const sfx: string = sfxs[(level % 100) % sfxs.length]
  return [pfx, sfx].join(' ')
}

function getNextRequired (level: number, variant: string): number {
  return Math.floor((level + 1) * levelers[variant])
}

function getNextPercent (level: number, variant: string, score: number): number {
  const leveler = levelers[variant]
  const nextRequired = getNextRequired(level, variant)
  return Math.floor(((nextRequired - score) / leveler) * 100)
}

function updateLeaderboard (ctx: SigmaLeaderboards) {
  const queryVariables = {
    leaderboardType: ctx.category.toUpperCase()
  }

  const qry = `query Leaderboards($leaderboardType: String!) {
    sigma {
      entries: leaderboard(type: $leaderboardType) {
        ...leaderboardItems
      }
    }
  }

  fragment leaderboardItems on LeaderboardEntry {
    score
    user {
      name
      avatarUrl
    }
  }`

  ctx.loading = true
  ctx.lastCategory = ctx.category
  if (ctx.boardCache[ctx.category]) {
    ctx.items = ctx.boardCache[ctx.category]
    ctx.loading = false
  } else {
    const newItems: LeaderboardWrapper[] = []
    const req: Promise<LeaderboardGQLResponse> = gql.request(qry, queryVariables)
    req.then((data: LeaderboardGQLResponse) => {
      let indexCounter = 0
      data.sigma.entries.forEach((elm: LeaderboardGQLItem) => {
        indexCounter += 1
        const leveler: number = levelers[ctx.category]
        const level: number = Math.floor(elm.score / leveler)
        const title: string = getTitle(level, ctx.category)
        const newElm: LeaderboardWrapper = {
          index: indexCounter,
          icon: leaderboardIcons[indexCounter - 1] || 'hashtag',
          user: elm.user,
          value: elm.score,
          level: level,
          title: title,
          nextRequired: getNextRequired(level, ctx.category),
          nextPercent: getNextPercent(level, ctx.category, elm.score)
        }
        newItems.push(newElm)
      })
      ctx.items = newItems
      ctx.loading = false
      ctx.errored = false
      ctx.boardCache[ctx.category] = ctx.items
    })
    req.catch(() => {
      ctx.loading = false
      ctx.errored = true
    })
  }
}

@Component({ components: { SigmaLeaderboardItem } })
export default class SigmaLeaderboards extends Vue {
  loading = true
  errored = false
  category = 'currency'
  lastCategory = 'currency'
  items: LeaderboardWrapper[] = []
  boardCache: any = {}

  mounted () {
    updateLeaderboard(this)
  }

  refreshLeaderboard (what: string) {
    if (this.lastCategory !== what) {
      this.category = what
      updateLeaderboard(this)
    }
  }
}
</script>

<style lang="stylus" scoped>
accent = #1abc9c
accent-border = 1px solid accent

.sigma.leaderboards.switcher.seven.wide.column.centered
  &.inactive
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
  &.active
    border-bottom: accent-border
  &:hover
    cursor: pointer
    border-bottom: 1px solid #ffffff
.sigma.leaderboards.table.headers
  border-bottom: accent-border
  border-radius: 0
@media only screen and (max-device-width : 720px)
  .sigma.leaderboards.table.headers
    display: none
</style>
