<template lang="pug">
  div.sigma.command(v-if="(sfw || showNSFW) && (!admin || showAdmin)")
    div.ui.segment.inverted.stacked
      h3.sigma.command.name.highlight >>{{ name }}
      p.sigma.command.description {{ desc }}
      p.sigma.command.aliases(v-if="usage")
        | Usage Example: #[span.highlight {{ usage }} ]
      p.sigma.command.aliases(v-if="alts.length > 0")
        | Aliases: #[span.highlight {{ alts.join(', ') }}]
      p.sigma.command.disclaimer.nsfw(v-if="!sfw")
        | #[span.highlight #[i.eye.slash.outline.icon] Warning!]
        | By using this you certify that you are #[span.highlight 18 years of age or older]
        | and acknowledge that the following page will contain nude images that are #[span.highlight Not Safe For Work].
        | You agree that you will not permit any person(s) under 18 years of age to have access to the same.
      p.sigma.command.disclaimer.admin(v-if="admin")
        | #[span.highlight #[i.cogs.icon] Warning!]
        | This command can only be used by #[span.highlight Bot owners]!
        | The bot owner is the person hosting the bot on their machine.
        | This is #[span.highlight not] the discord server #[span.highlight owner] and
        | #[span.highlight not] the person #[span.highlight who invited the bot] to the server.
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

import 'semantic-ui-css/components/segment.min.css'
import 'semantic-ui-css/components/grid.min.css'

@Component
export default class Module extends Vue {
  @Prop(Boolean) readonly admin!: boolean
  @Prop(String) readonly usage!: string
  @Prop(String) readonly name!: string
  @Prop(Array) readonly alts!: string[]
  @Prop(String) readonly desc!: string
  @Prop(Boolean) readonly sfw!: boolean
  @Prop(Boolean) readonly showNSFW!: boolean
  @Prop(Boolean) readonly showAdmin!: boolean
}
</script>

<style lang="stylus" scoped>
accent = #1abc9c

.highlight
  color: accent
  & .underlined
    text-decoration: underline;
</style>
