<template lang="pug">
  div.lc-livestream-card.ui.two.column.stackable.grid
    div.ui.thirteen.wide.mobile.column
      div.ui.comment.inverted
        a.avatar
          img(:src="avatar")
        div.content
          a.author.streamer {{ name | upper }}
          div.metadata
            div.text.elapsed(v-if="ok") {{ elapsed | hhmmss }}
            div.ui.placeholder.inverted(v-else)
              div.line
          div.text.description(v-if="ok")
            //- | Streaming {{ metadata.video.height }}p {{ metadata.video.framerate }}fps video with {{ metadata.audio.bitrate }} Kb/s audio.
            | Livestream description functionality soon™
          div.ui.placeholder.inverted(v-else)
            div.line
    div.ui.two.wide.column.lc-join
      a.ui.inverted.button Join
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { StreamMetadata } from '@/data/api'

@Component
export default class LCLivestreamCard extends Vue {
  @Prop(String) readonly avatar!: string
  @Prop(String) readonly name!: string
  @Prop(Boolean) readonly ok!: boolean
  @Prop(String) readonly startTime!: string
  @Prop(Object) readonly metadata!: StreamMetadata

  elapsed: number = 0
  iid = 0 // interval ID

  startTimer () {
    this.elapsed = (new Date().getTime() - new Date(this.startTime).getTime()) / 1000
    this.iid = setInterval(() => { this.elapsed += 1 }, 1000)
  }

  stopTimer () {
    if (!this.iid) return
    this.elapsed = 0
    clearInterval(this.iid)
  }

  mounted () {
    if (!this.startTime) return
    this.startTimer()
  }

  @Watch('startTime')
  onStartTimeChange () {
    this.stopTimer()
    this.startTimer()
  }

  beforeDestroy () {
    this.stopTimer()
  }
}
</script>

<style lang="stylus" scoped>
.ui.two.wide.column.lc-join
  text-align: right
  margin-top: 0.5em

.metadata .placeholder .line
  width: 5em

@media only screen and (max-device-width : 720px)
  .ui.two.wide.column.lc-join
   display: none
</style>
