<template lang="pug">
  div.sigma.module(v-if="(!onlyHasNSFW || showNSFW) && (!onlyHasAdmin || showAdmin)")
    div.ui.segment.inverted.stacked
      h2.sigma.module.name(v-on:click="active = !active")
        | #[i(:class="active ? 'angle up icon' : 'angle down icon'")] {{ name.toUpperCase() }}
      div.sigma.module.commands(v-if="active")
        command(
          v-for="cmd in commands"
          :key="cmd.name"
          :admin="cmd.admin"
          :partner="cmd.partner"
          :usage="cmd.usage"
          :name="cmd.name"
          :alts="cmd.alternativeNames"
          :desc="cmd.description"
          :sfw="!cmd.nsfw"
          :showNSFW="showNSFW"
          :showAdmin="showAdmin"
        )
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

import Command from '@/comps/Command.vue'

import 'semantic-ui-css/components/segment.min.css'
import 'semantic-ui-css/components/grid.min.css'

interface CommandGQLResponse {
  name: string,
  alternativeNames: string[],
  admin: boolean,
  usage: string,
  nsfw: boolean,
  description: string
}

@Component({ components: { Command } })
export default class Module extends Vue {
  @Prop(String) readonly name!: string
  @Prop(Array) readonly commands!: CommandGQLResponse[]
  @Prop(Boolean) readonly showNSFW!: boolean
  @Prop(Boolean) readonly showAdmin!: boolean
  active: boolean = false
  onlyHasNSFW = this.commands.every((itm) => { return itm.nsfw })
  onlyHasAdmin = this.commands.every((itm) => { return itm.admin })
}
</script>

<style lang="stylus" scoped>
.sigma.module.name
  font-size: 1.25rem
  padding: unset
  margin: unset
  cursor pointer
</style>
