<template lang="pug">
  div.ui.two.wide.column.sigma.statistic.centered
    div.sigma.statistic.value
      i(:class="stat.icon + ' icon'")
      | {{ numberWithCommas(stat.value) }}
    div.sigma.statistic.title {{ stat.name }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

import 'semantic-ui-css/components/segment.min.css'
import 'semantic-ui-css/components/card.min.css'

interface Stat {
  icon: string,
  name: string,
  value: number
}

@Component
export default class SigmaStatistic extends Vue {
  @Prop() readonly stat!: Stat
  numberWithCommas (x: number) {
    let y = x.toString()
    var pattern = /(-?\d+)(\d{3})/
    while (pattern.test(y)) {
      y = y.replace(pattern, '$1,$2')
    }
    return y
  }
}
</script>

<style lang="stylus" scoped>
.sigma.statistic.value
  font-size: 1.25rem
</style>
